body {
  font-family: "Roboto", sans-serif;
}

.container {
  background: #fff;
  max-width: 1512px;
  width: 100%;
  margin-inline: auto;
  padding: 60px 80px 141px 80px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.nav-link {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
}

.img {
  max-width: 497px;
  width: 100%;
}

.main {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  margin-top: 128px;
}

.title {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 87px;
  font-weight: 700;
  line-height: 90px; /* 103.448% */
  margin-bottom: 40px;
}

.second-title {
  color: #121212;
  font-size: 80px;
}

.description {
  color: #6b6868;
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 500;
  line-height: 45px; /* 155.172% */
  max-width: 762px;
  margin-bottom: 52px;
}

.btn-group {
  display: flex;
  gap: 38px;
}
.btn {
  cursor: pointer;
  display: inline-block;
  outline: 0;
  border: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 24px; /* 75% */
  padding: 30px 50px;
  display: inline-flex;
  align-items: flex-start;
  border: 2px solid #000;
  gap: 10px;
}

.first-btn {
  color: #000;
}

.second-btn {
  background: #000;
  color: #fff;
}
